[submodule "librerias/Cola"]
	path = librerias/Cola
	url = https://github.com/UCC-Programacion3/Cola.git
[submodule "Pila"]
	path = Pila
	url = https://github.com/UCC-Programacion3/Pila.git
[submodule "AlgoritmosOrdenamiento"]
	path = AlgoritmosOrdenamiento
	url = https://github.com/UCC-Programacion3/AlgoritmosOrdenamiento.git
[submodule "Lista"]
	path = Lista
	url = https://github.com/UCC-Programacion3/Lista.git
[submodule "Arbol"]
	path = Arbol
	url = https://github.com/UCC-Programacion3/Arbol.git
[submodule "librerias/Arbol"]
	path = librerias/Arbol
	url = https://github.com/UCC-Programacion3/Arbol.git
[submodule "librerias/Lista"]
	path = librerias/Lista
	url = https://github.com/UCC-Programacion3/Lista.git
[submodule "librerias/AlgoritmosOrdenamiento"]
	path = librerias/AlgoritmosOrdenamiento
	url = https://github.com/UCC-Programacion3/AlgoritmosOrdenamiento.git
