[submodule "librerias/Cola"]
	path = librerias/Cola
	url = https://github.com/UCC-Programacion3/Cola.git
[submodule "librerias/Arbol"]
	path = librerias/Arbol
	url = https://github.com/UCC-Programacion3/Arbol.git
[submodule "librerias/Lista"]
	path = librerias/Lista
	url = https://github.com/UCC-Programacion3/Lista.git
[submodule "librerias/AlgoritmosOrdenamiento"]
	path = librerias/AlgoritmosOrdenamiento
	url = https://github.com/UCC-Programacion3/AlgoritmosOrdenamiento.git
[submodule "librerias/HashMap"]
	path = librerias/HashMap
	url = https://github.com/UCC-Programacion3/HashMap.git